.parallax-container {
	position: relative;
	overflow: hidden;
    height: 500px;
    }
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Orbitron;
  }

  main {
    flex: 1 0 auto;
  }

  footer.page-footer {
  	margin-top: 0px;
  }

.icon {
  	width: 60px;
  	height: 60px;
  }

.hcj-image {
	width: 220px;
	height: 220px;
	align-items: center;
}

.bootstrap-image {
	width: 400px;
	height: 300px;
}

#par-1 {
	background-image: url("https://newevolutiondesigns.com/images/freebies/white-wallpaper-14.jpg");

}

#logo {
	/*color: #4a148c;*/
	padding-left: 20px;
	font-size: 50px;
}

#par-2 {
	background-image: url("http://www.wallpaperbetter.com/wallpaper/785/899/620/dark-black-and-white-abstract-black-background-2K-wallpaper.jpg")
}

nav {
	background: transparent;
	margin-bottom: 0px;
}

.nav-wraper {
	border-bottom: 0px;
}

.activator {
	height: 260px;

}





