/*parallax-container {
	position: relative;
	overflow: hidden;
    height: 550px;
    }*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Orbitron, Roboto;
  }

  main {
    flex: 1 0 auto;
  }

  footer.page-footer {
  	margin-top: 0px;
  }

.icon {
  	width: 60px;
  	height: 60px;
  }

.me {
  margin: 0px;
  font-family: Roboto;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  padding: 7px;
   font-weight: bold;
}

.hcj-image {
	width: 220px;
	height: 220px;
	align-items: center;
}

.bootstrap-image {
	width: 400px;
	height: 300px;
}

#par-1 {
	background-image: url("../images/whitewallpaper.jpg");

}

#logo {
	/*color: #4a148c;*/
	padding-left: 20px;
	font-size: 50px;
}

#par-2 {
	background-image: url("../images/darkwhite.jpg")
}

#imageMiddle {
  width: 1050px;
  height: 800px;
}

nav {
	background: transparent;
	margin-bottom: 0px;
}

hr {
    border-width: 3px;  
    border-style: inset;
}


.material-icons {
  background: blue;
}

.nav-wraper {
	border-bottom: 0px;
}

a.back-to-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
}


.activator {
	height: 260px;

}

.nameTitle {
  padding: 100px 150px 10px 150px;
  text-align: center;
  letter-spacing: 2rem;
  font-size: 6rem;
  color: white;
}

.randomText {
  color: white;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  text-decoration: underline;
  letter-spacing: 2rem;
}

/*//////////////////////HTML Image Icons////////////////*/

#html{
  height: 100px;
  width: 100px;
  margin: 0px;
}

#mongo {
  height: 100px;
  width: 300px;
}

/*//////////////////////Portfolio Images/////////////*/

.img-responsive {
  width: 480px;
  height:300px;
}

.imgDescription {
  color white;
  margin-top: 0px;
  margin-bottom: 15px;
}

/*//////////////////////PARTICLES///////////////////*/

#particles-js {
   position: fixed;
   width: 100%;

}

canvas {
 /* position: absolute;*/
  height: 508px;
  width: 100%;
}

/*////////////////////////Typed.js///////////////////*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.element {
  color: white;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  letter-spacing: 1rem;
}




